:root{
    --background : #3D1766;
    --primary: #9d36f1;
    --accent: #FF0032;
    --accent-dark: #CD0404;
    --canvasbg: #FFFFFF;
    --penCol: black;
    --pixelx: 10px;
    --pixely: 10px;
}

*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'MuseoModerno', cursive;
color: white;
}


input[type="color"]{
    position: absolute;
    visibility: hidden;
}

.colorLabel{
    color: var(--canvasbg);
    background-color: var(--penCol);
    border: 6px solid var(--penCol);
}


.bgLabel{
    color: var(--penCol);
    background-color: var(--canvasbg);
    border: 6px solid var(--canvasbg);
}

label{
    text-align: center;
    width: 180px;
    padding: 10px;
    border-radius: 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: 0.2s;
}

label:hover{
    scale: 1.1;
}

label:active{
    scale: 0.9;
}


button{
    width: 180px;
    padding: 10px;
    background: none;
    border: 6px solid var(--primary);
    border-radius: 20px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    transition: 0.2s;
}




button:hover{
    scale: 1.1;
    background-color: var(--accent);
    border-color: var(--accent);
}

button:active{
    scale: 0.9;
    background-color: var(--accent-dark);
    border-color: var(--accent-dark);
}

button.btn-selected{
    background-color: var(--accent);
    border-color: var(--accent);
}

.pixel{
    width: var(--pixelx);
    height: var(--pixely);
    background-color: var(--canvasbg);
    user-select: none;
}

.left,
.right{
    flex : 1;
}

.left
{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

.right{
    display: flex;
    align-items: center;
    gap : 30px;
}

.penStates{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    gap: 20px;
}

.middle{
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex : 2;
}

.canvas{
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    align-self: center;
    width: 700px;
    height: 700px;
    background-color: var(--canvasbg);
    border: 10px solid var(--primary);
    border-radius: 40px;
    overflow: hidden;
}

html{
    display: flex;
    height: 100%;
    flex-direction: column;
}
body{
    background-color: #3D1766;
    flex : 1;
    display : flex;
    flex-direction: column;
    
}
.content{
    flex : 1;
    display: flex;
    align-items: stretch;
    gap: 20px;
}

header{
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    margin: 0 300px 30px 300px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

input[type="range"]{
    -webkit-appearance: none;
    writing-mode: bt-lr;
    height: 700px;
    width: 20px;
    outline: none;
}